.footer {
  padding: 110px 0;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__right {
  display: flex;
  gap: 15px;
}

.contacts-table {
  border-spacing: 25px 15px;
}

.contacts-table tbody {
  transform: translateY(-12%);
}

.contacts-table__header {
  font-weight: bold;
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.footer__buttons button,
.footer__buttons .button {
  width: 100% !important;
}

.footer__minor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__all{
  margin-top: 35px;
  padding-top: 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.footer__support{
  margin-top: 15px;
  padding-top: 15px;
}

.grey-text {
  color: rgba(0, 0, 0, 0.8);
}

.grey-support-text{
  color: rgba(97, 91, 91, 0.8);
  font-size: 16px;
}

.footer__media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1065px) {
  .footer__minor {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}


@media (max-width: 875px) {
  .footer__main {
    flex-direction: column;
    align-items: center;
  }

  .SIP-logo {
    width: 212px;
  }

  .footer__right {
    flex-direction: column-reverse;
    margin-top: 35px;
  }

  .footer__buttons {
    align-items: center;
    width: fit-content;
    margin: 0 auto 35px auto;
  }

  .footer__buttons button,
  .footer__buttons .button {
    width: fit-content;
  }
}

@media (max-width: 530px) {
  .footer__media {
    flex-direction: column;
    width: 100%;
  }

  .media-icons {
    align-self: center;
  }

  .media-icons__icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .contacts-table {
    border-spacing: 12px;
  }
}

@media (max-width: 445px) {
  .contacts-table {
    border-spacing: 10px;
  }

  .contacts-table td {
    font-size: 16px;
  }
}
