.achievements {
  padding: 30px 0;

  border-bottom: 1px solid black;
}

.achievements__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.achievement-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.achievement-list__extra__item{
  display: none;
}

.achievement-list__extra__item.active{
  display: block;
}

.achievement-list__default__item{
  display: none;
}

.achievement-list__default__item.active{
  display: block;
}

.achievement-list__update__item{
  display: none;
}

.achievement-list__update__item.active{
  display: block;
}

.achievement-list__item {
  display: flex;
  align-items: center;
  gap: 25px;

  cursor: pointer;
}

.achievement-list__update__item-unvisible{
  display: none;
}

.achievement-list__item-reset{

}

.achievement-list__delete__item{

}

.achievement-list__update__default__item{
  
}

.achievement-list__delete__item-unvisible{
  display: none;
}

.achievement-list-button{
  display: none;
}

.achievement-list-button.active{
  display: flex;
  justify-content: center;
}

.achievement-list__item:hover p {
  color: rgba(204, 0, 21, 1);
}

.achievement-list__item p {
  width: 100%;
  margin-left: 15px;
  padding: 25px;

  font-size: 24px;

  border-radius: 12px;

  box-shadow: 0 0 16px rgba(51, 51, 51, 0.25);

  transition-property: color;
  transition-duration: 0.2s;
}

.achievement-list__default__item p{
  text-decoration: underline;
}

.achievement-list__update__item form{
  display: flex;
  justify-content: left;
  gap: 25px;

  width: 100%;
  margin-left: 15px;
  padding: 25px;

  font-size: 24px;

  border-radius: 12px;

  box-shadow: 0 0 16px rgba(51, 51, 51, 0.25);

  transition-property: color;
  transition-duration: 0.2s;
}

.achievement-list__delete__confirm__item{
  display: none;
}

.achievement-list__delete__confirm__item.active{
  display: flex;
  align-items: center;
}

.achievement-list__delete__confirm__item form{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 25px;

  width: 100%;
  padding: 25px;
}

.achievement-list__extra__item form{
  display: flex;
  justify-content: left;
  gap: 25px;

  width: 100%;
  margin-left: 15px;
  padding: 25px;

  font-size: 24px;

  border-radius: 12px;

  box-shadow: 0 0 16px rgba(51, 51, 51, 0.25);

  transition-property: color;
  transition-duration: 0.2s;
}

.achievement-list__item input{
  width: 50%;
}

@media (max-width: 450px) {
  .cup-img {
    width: 120px;
    height: 120px;
  }
}