.announces {
  padding: 40px 0;

  border-bottom: 1px solid black;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.grid-card {
  padding: 35px 25px;

  border-radius: 12px;

  box-shadow: 0 0 16px rgba(51, 51, 51, 0.25);
}

.grid-card__update-item{
  padding: 35px 25px;

  border-radius: 12px;

  box-shadow: 0 0 16px rgba(51, 51, 51, 0.25);
}

.grid-card__update-item form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 20px 0;
  gap: 15px;
}

.grid-card__update-item-buttons{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.grid-card__update-item input{
  width: 85%;
}

.grid-card__img {
  width: 215px;
  height: 215px;

  border-radius: 12px;

  object-fit: cover;
}

.grid-card__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.grid-card__title {
  font-weight: bold;
}

.grid-card__text {
  margin: 20px 0;
}

.grid-card__update{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.grid-card.first {
  display: none;
}

.grid-card__update-item.first{
  display: none;
}

.grid-card__update-item.first.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1 / 3;
  grid-row: 1;
}

.grid-card.first.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1 / 3;
  grid-row: 1;
}

.grid-card.first button {
  align-self: center;
}

.grid-card.second {
  display: none;
}

.grid-card.second.active{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  grid-column: 3 / 6;
  grid-row: 1;
}

.grid-card__update-item.second{
  display: none;
}

.grid-card__update-item.second.active{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  grid-column: 3 / 6;
  grid-row: 1;
}

.grid-card.third {
  display: none;
}

.grid-card.third.active{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-column: 1 / 4;
  grid-row: 2;
}

.grid-card__update-item.third{
  display: none;
}

.grid-card__update-item.third.active{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-column: 1 / 4;
  grid-row: 2;
}

.grid-card.forth {
  display: none;
}

.grid-card.forth.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 4 / 6;
  grid-row: 2;
}

.grid-card__update-item.forth{
  display: none;
}

.grid-card__update-item.forth.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 4 / 6;
  grid-row: 2;
}

.grid-card.forth button {
  align-self: center;
}

@media (max-width: 920px) {
  .grid-card__img {
    width: calc(215px / 1.5);
  }
}

@media (max-width: 820px) {
  .cards-grid {
    display: flex;
    flex-direction: column;
  }

  .grid-card__img {
    display: none;
  }

  .grid-card.second button {
    align-self: center;
  }

  .grid-card__left {
    display: flex;
    flex-direction: column;
  }

  .grid-card.third button {
    align-self: center;
  }
}

.announces-list__item-reset{

}

.grid-card__update-item-unvisible{
  display: none;
}