.header {
  padding: 15px;
}

.header__inner {
  align-items: center;
}

.header__logout{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 1%;
}

.header__SIP-logo{
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.header__title {
  font-size: 60px;
  font-family: 'Dela Gothic One', sans-serif;

  color: rgba(204, 0, 21, 1);
  text-align:center;
}

.top-navigation {
  display: flex;
  align-items: center;
  gap: 35px;
}

.top-navigation__link {
  transition-property: color;
  transition-duration: 0.2s;
}

.top-navigation__link:hover {
  color: rgba(204, 0, 21, 1);
}

@media (max-width: 875px) {
  .top-navigation {
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
  }

  .top-navigation__link {
    text-align: right;
  }
}

.header__support{
  text-align: center;
}

.grey-support-text{
  color: rgba(97, 91, 91, 0.8);
  font-size: 16px;
}
